.welcome{
  font-style: normal;
  text-align: center;
  color: #FF8F07;
  position: relative;
  top: 10px;
  font-size: 24px;
  align-self: center;
}

.vision{
  background-color: #FF8F07;
  position: relative;
  left: 20px;
  right: 270px;
  top: -25px;
  width: 19.5%;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #FFFFFF;
  padding: 40px;
  display: inline-block;
  height: 210px;
}

.purpose{
  background-color: #FF8F07;
  position: relative;
  width: 19.5%;
  left: 150px;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #FFFFFF;
  padding: 40px;
  display: inline-block;
}

.mission{
  background-color: #FF8F07;
  position: relative;
  left: 240px;
  width: 19.5%;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #FFFFFF;
  padding: 40px;
  display: inline-block;
}

.overlay{
  background-color: #FFFFFF;
  width: 1280px;
  height: 1280px;
  position: relative;
  left : 15px;
  border-radius: 20px;
  padding: 10px;
}

.portfoliooverlay{
  position: relative;
  left: 15px;
  width: 1280px;
  height: 965px;
  padding: 10px;
  border-radius: 20px;
  border-style: solid;
  border: 5px;
  background-color: #FFFFFF;
}

.portfoliooverlay .info{
  position:absolute;
  left: 575px;
  top: 150px;
  bottom: -100px;
  right: 150px;
  color: #000000;
}

.button{
    background-color: #FF8F07;
    width: 310px;
    position: relative;
    left : 500px;
    border-radius: 20px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
}

#banners img{
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#banners{
  border-style: solid;
  border-width: 5px;
  border-color: #FF8F07;
  position: relative;
  left: -5px;
  margin: 0 auto;
  height: 720px;
  width: 1280px;
}

#banners img.bannerbottom{
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

body{
  background-image: url('lifepointIcon2.jpg');
  background-repeat: repeat;
}

h1{
  font-family: "Montserrat", sans-serif;
}

h2{
  font-family: "Raleway", sans-serif;
}
